{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detay</title>
    <link rel="icon" type="favicon" sizes="32x32" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

</head>
<body>
    <div id="navbar-container"></div>
    <main>
        <div class="dropdown float-end" style="margin-right: 20px;">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #3e9159; color: white; font-weight: bold;">
              Hesabım
              <img src="{% static 'img/gear.svg' %}" height="25" width="25" class="ms-2">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="{% url 'adminpaneli' %}">Admin Paneli</a></li>
              <li><a class="dropdown-item" href="{% url 'hesapayarlari' %}">Hesap Ayarları</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'anasayfa' %}">Çıkış</a></li>
            </ul>
          </div>
          <div class="col-md-3" style="margin-left: 20px;">
            <a href="{% url 'adminpaneli' %}" class="btn btn-lg" style="background-color: #3e9159; color: white; font-weight: bold;">Admin Paneli</a>
        </div>
        <div class="container mt-5 text-center">
            <h3>Kargo Detay</h3>
            <div class="row justify-content-center">
            <div class="col-md-8">
            <form class="text-center">
                {% csrf_token %}
                <div class="input-group mt-3">
                    <span class="input-group-text w-25" id="basic-addon1">Kargo id</span>
                    <input type="text" class="form-control" aria-label="göndericiadres" aria-describedby="basic-addon1" readonly value="{{ ActiveCargo.id }}">
                </div>
                <div class="input-group mt-3">
                    <span class="input-group-text w-25" id="basic-addon1">Gönderici id</span>
                    <input type="text" class="form-control" aria-label="göndericiadres" aria-describedby="basic-addon1" readonly value="{{ ActiveCargo.sender_customer_id }}">
                </div>
                <div class="input-group mt-3">
                    <span class="input-group-text w-25" id="basic-addon1">Alıcı id</span>
                    <input type="text" class="form-control" aria-label="göndericiadres" aria-describedby="basic-addon1" readonly value="{{ ActiveCargo.reciever_customer_id }}">
                </div>
                <div class="input-group mt-3">
                    <span class="input-group-text w-25" id="basic-addon1">Kurye id</span>
                    <input type="text" class="form-control" aria-label="göndericiadres" aria-describedby="basic-addon1" readonly value="{{ ActiveCargo.courier_id }}">
                </div>
                <div class="input-group mt-3">
                    <span class="input-group-text w-25" id="basic-addon1">Gönderci Adı</span>
                    <input type="text" class="form-control" aria-label="gönderici" aria-describedby="basic-addon1" readonly value="{{ ActiveCargo.sender_first_name }}">
                    <span class="input-group-text w-25" id="basic-addon1">Gönderici Soyadı</span>
                    <input type="text" class="form-control" aria-label="gönderici" aria-describedby="basic-addon1" readonly value="{{ ActiveCargo.sender_last_name }}">
                </div>
                <div class="input-group mt-3">
                    <span class="input-group-text w-25" id="basic-addon1"> Gönderici Telefon</span>
                    <input type="text" class="form-control" aria-label="kargoadi" aria-describedby="basic-addon1" value="{{ ActiveCargo.sender_phone }}">
                </div>
                <div class="input-group mt-3">
                    <span class="input-group-text w-25" id="basic-addon1">Gönderici Adresi</span>
                    <input type="text" class="form-control" aria-label="göndericiadres" aria-describedby="basic-addon1" value="{{ ActiveCargo.sender_address }}">
                    </div>
                <div class="input-group mt-3">
                    <span class="input-group-text w-25" id="basic-addon1">Gönderici İli</span>
                    <input type="text" class="form-control" aria-label="göndericiadres" aria-describedby="basic-addon1" value="{{ ActiveCargo.sender_city }}">
                </div>
                <div class="input-group mt-3">
                    <span class="input-group-text w-25" id="basic-addon1">Alıcı Adı</span>
                    <input type="text" class="form-control" aria-label="gönderici" aria-describedby="basic-addon1" readonly value="{{ ActiveCargo.reciever_first_name }}">
                    <span class="input-group-text w-25" id="basic-addon1">Alıcı Soyadı</span>
                    <input type="text" class="form-control" aria-label="gönderici" aria-describedby="basic-addon1" readonly value="{{ ActiveCargo.reciever_last_name }}">
                </div>
                <div class="input-group mt-3">
                    <span class="input-group-text w-25" id="basic-addon1">Alıcı Telefon</span>
                    <input type="text" class="form-control" aria-label="kargoadi" aria-describedby="basic-addon1" value="{{ ActiveCargo.reciever_phone }}">
                </div>
                <div class="input-group mt-3">
                    <span class="input-group-text w-25" id="basic-addon1">Alıcı Adresi</span>
                    <input type="text" class="form-control" aria-label="aliciadres" aria-describedby="basic-addon1" value="{{ ActiveCargo.reciever_address }}">
                </div>
                <div class="input-group mt-3">
                    <span class="input-group-text w-25" id="basic-addon1">Alıcı İli</span>
                    <input type="text" class="form-control" aria-label="aliciadres" aria-describedby="basic-addon1" value="{{ ActiveCargo.reciever_city }}">
                </div>
                <div class="input-group mt-3">
                    <span class="input-group-text w-25" id="basic-addon1">Kargo Adı</span>
                    <input type="text" class="form-control" aria-label="kargoadi" aria-describedby="basic-addon1" readonly value="{{ ActiveCargo.cargo_name }}">
                </div>
                <div class="input-group mt-3">
                    <span class="input-group-text w-25" id="basic-addon1">Gönderi Türü</span>
                        <select id="tür" class="form-select" se>
                            <option selected>{{ ActiveCargo.cargo_feature }}</option>
                            <option>BELGE</option>
                            <option>1-10 Kg</option>
                            <option>10-100 Kg</option>
                            <option>100+ kg</option>
                        </select>
                </div>
                <div class="input-group mt-3">
                    <span class="input-group-text w-25" id="basic-addon1">Kargo Özelliği</span>
                        <select id="ozellik" class="form-select">
                            <option selected>{{ ActiveCargo.cargo_type }}</option>
                            <option>STANDART</option>
                            <option>KIRILABİLİR</option>
                            <option>DEĞERLİ EŞYA</option>
                            <option>BOZULABİLİR GIDA MADDESİ</option>
                            <option>KİMYASAL MADDE</option>
                        </select>
                </div>
                <div class="input-group mt-3">
                    <span class="input-group-text w-30" id="basic-addon1">Veriliş Tarihi</span>
                    <input type="text" class="form-control" aria-label="verilistarihi" aria-describedby="basic-addon1" readonly value="{{ ActiveCargo.delivery_date }}">
                    <span class="input-group-text w-20" id="basic-addon1">Teslim Süresi</span>
                        <select id="inputDate" class="form-select">
                            <option selected>{{ ActiveCargo.cargo_edt }}</option>
                            <option>Aynı Gün</option>
                            <option>1-3 iş günü</option>
                            <option>4-5 iş günü</option>
                        </select>
                </div>
                <div class="input-group mt-3">
                    <span class="input-group-text w-25" id="basic-addon1">Kargo Durumu</span>
                    <input type="text" class="form-control" aria-label="göndericiadres" aria-describedby="basic-addon1" value="
                    {% if ActiveCargo.stage == 0 %} Teslim Alındı
                    {% elif ActiveCargo.stage == 1 %} Gönderi Yolda
                    {% elif ActiveCargo.stage == 2 %} Dağıtıma Çıkarıldı
                    {% elif ActiveCargo.stage == 3 %} Tamamlandı
                    {% else %} Durum Bilgisi Yok
                    {% endif %}
                    ">
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <button type="submit" class="btn" style="background-color: #3e9159; color: white; font-weight: bold;">Güncelle</button>
                    <span class="mx-2"></span>
                    <button type="submit" class="btn btn-danger" style="font-weight: bold;">Sil</button>
                </div>

            </form>
            </div>
            </div>
        </div>
    </main>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script>
        fetch("{% url 'navbar' %}")
          .then(response => response.text())
          .then(data => {
            document.querySelector('#navbar-container').innerHTML = data;
          });
      </script>
</body>
</html>