{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kurye Takibi</title>
    <link rel="icon" type="favicon" sizes="32x32" href="{% static 'img/favicon' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div id="navbar-container"></div>
    <main>
      <div class="dropdown float-end" style="margin-right: 20px;">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #3e9159; color: white; font-weight: bold;">
          Hesabım
          <img src="{% static 'img/gear.svg' %}" height="25" width="25" class="ms-2">
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="{% url 'adminpaneli' %}">Admin Paneli</a></li>
          <li><a class="dropdown-item" href="{% url 'hesapayarlari' %}">Hesap Ayarları</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'anasayfa' %}">Çıkış</a></li>
        </ul>
      </div>
      <div class="col-md-3" style="margin-left: 20px;">
        <a href="{% url 'adminpaneli' %}" class="btn btn-lg" style="background-color: #3e9159; color: white; font-weight: bold;">Admin Paneli</a>
          </div>
      <div class="container mt-5 text-center">
        <h3>Kurye Takibi</h3>
        <table class="table table-bordered table-dark table-hover rounded">
          <thead>
            <tr>
              <th scope="col">Kurye İd</th>
              <th scope="col">Kurye Adı</th>
              <th scope="col">İl</th>
              <th scope="col">Kargo Limiti</th>
              <th scope="col">Aktif Kargo</th>
              <th scope="col"></th>
            </tr>
          </thead>
            {% for data in CourierList %}
            <form method="POST" action="{% url 'kuryeGuncelle' %}">
              {% csrf_token %}
              <tr>
                <th scope="row" >
                  <label for="form-label">{{ data.courier_id }}</label>
                  <input type="hidden" name="courier_idF" value="{{ data.courier_id }}">
                </td>
                <td>{{ data.courier_name }}</td>
                <td>
                  <select id="tür" name="city_nameF" class="form-select">
                      <option selected>{{ data.city }}</option>
                      {% for city in CityList %}                      
                      <option>{{ city.city_name }}</option>
                      {% endfor %}
                  </select>
                </td>
                <td><input type="text" name="cargo_limitF" value="{{ data.cargo_limit }}"></td>
                <td>{{ data.active_cargo_count }}</td>
                <td><button type="submit" class="btn btn-primary" >Tamam</button></td>
              </tr>
            </form>
            {% endfor %}
        </table>
      </div>
    </main>
    
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script>
      fetch("{% url 'navbar' %}")
        .then(response => response.text())
        .then(data => {
          document.querySelector('#navbar-container').innerHTML = data;
        });
    </script>
</body>
</html>